[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
elasticsearch = "==6.3.0"
requests = "==2.9.1"
elasticsearch-dsl = "==6.1.0"
xpinyin = "==0.5.5"
"w3lib" = "==1.17.0"
selenium = "==3.6.0"
redis = "==2.10.5"
lxml = "==4.6.2"
celery = "==4.0.2"
"beautifulsoup4" = "==4.6.3"
SQLAlchemy = "==1.2.7"
Twisted = "==16.1.0"

[requires]
python_version = "2.7"
